@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #000;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

/* Hide scrollbar for cleaner mobile look */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
